<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- app.configに記述する場合に必要 -->
	<configSections>
		<section
		  name="log4net" type=
      "log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<!-- ログ出力先の定義 -->
		<appender name="LogFileAppender"
				  type="log4net.Appender.FileAppender" >

			<!-- 作成するログファイル -->
			<param name="File" value="App_Data/logs/logfile.log" />

			<!-- 追加 -->
			<param name="AppendToFile" value="true" />

			<!-- ログの書式 -->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern"
					   value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<!-- ログのレベルを指定 -->

			<!-- すべてのログ・レベルを出力 -->
			<level value="ALL" />

			<!-- どのログ出力先を使用するか -->
			<appender-ref ref="LogFileAppender" />
		</root>

	</log4net>

	<!-- （自動生成された部分は省略） -->

</configuration>