@charset "UTF-8";

body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}


/* サイト名 */
.site h1 a	{color: #000000;
	text-decoration: none}

.site h1	{margin: 0;
	font-size: 30px}




/* ナビゲーション */
.menu ul	{margin: 0;
	padding: 0;
	list-style: none}

.menu li a	{display: block;
	padding: 15px;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.menu li a:hover	{background-color: #75dbe7}

.menu ul:after	{content: "";
	display: block;
	clear: both}

.menu li	{float: left;
	width: auto}


/* 記事 */
.kiji h1	{margin-top: 0;
	margin-bottom: 20px;
	font-size: 36px}

.kiji p	{margin-top: 0;
	margin-bottom: 20px}

.kiji img	{max-width: 100%;
	height: auto}


/* サイドメニュー */
.sidemenu	{margin-bottom: 30px}

.sidemenu ul	{margin: 0;
	padding: 0;
	list-style: none}

.sidemenu li a	{display: block;
	padding: 5px;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.sidemenu li a:hover	{background-color: #eeeeee}

.sidemenu h1		{margin-top: 0;
	margin-bottom: 10px;
	border-bottom: dotted 2px #dddddd;
	color: #666666;
	font-size: 18px}


/* おすすめ記事メニュー */
.osusume	{margin-bottom: 30px}

.osusume ul	{margin: 0;
	padding: 0;
	list-style: none}

.osusume li a	{display: block;
	padding: 5px;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.osusume li a:hover	{background-color: #eeeeee}

.osusume h1		{margin-top: 0;
	margin-bottom: 10px;
	border-bottom: dotted 2px #dddddd;
	color: #666666;
	font-size: 18px}


/* 人気の記事メニュー */
.ninki ul	{margin: 0;
	padding: 0;
	list-style: none}

.ninki li a	{display: block;
	padding: 5px;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.ninki li a:hover	{background-color: #eeeeee}

.ninki h1	{margin-top: 0;
	margin-bottom: 10px;
	border-bottom: dotted 2px #dddddd;
	color: #666666;
	font-size: 18px}


/* コピーライト */
.copyright p	{margin: 0;
	color: #666666;
	font-size: 14px}


/* BOX2をバーの形にする */
.box2	{background-color: #7cbac1}


/* BOX5の上に区切り線を入れる */
.box5	{border-top: solid 1px #dddddd}


/* ボックスの上下の間隔 */
.box1	{padding-top: 8px;
	padding-bottom: 8px}

.box3	{padding-top: 40px;
	padding-bottom: 30px}

.box4	{padding-top: 40px;
	padding-bottom: 30px}

.box5	{padding-top: 15px;
	padding-bottom: 15px}



/* ########### 599px以下 ########### */
@media (max-width: 599px) {

/* ナビゲーション */
.menu li a	{padding: 10px 3px;
	font-size: 11px}

/* サイト名と記事のタイトル */
.site h1	{font-size: 20px}

.kiji h1	{font-size: 26px}

/* ボックスの上下の間隔 */
.box1	{padding-top: 4px;
	padding-bottom: 4px}

.box3	{padding-top: 25px}

}



/* ########### 600px以上～767px以下 ########### */
@media (min-width: 600px) and (max-width: 767px) {

/* BOX4-1とBOX4-2を横に並べる設定 */
.box4:after	{content: "";
	display: block;
	clear: both}

.box4-1	{float: left;
	width: 50%}

.box4-2	{float: left;
	width: 50%}

/* BOX4-1とBOX4-2の左右の間隔 */
.box4-1	{padding-right: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box}

.box4-2	{padding-left: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box}

}




/* ########### 768px以上 ########### */
@media (min-width: 768px) {

/* BOX3とBOX4を横に並べる設定 */
.boxA:after	{content: "";
	display: block;
	clear: both}

.box3	{float: left;
	width: 70%}

.box4	{float: left;
	width: 30%}

/* BOX3とBOX4の左右の間隔 */
.box3	{padding-right: 50px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box}

}



/* ########### 1040px以上 ########### */
@media (min-width: 1040px) {

}