@charset "UTF-8";


body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}



/* ########### 768px以上 ########### */
@media (min-width: 768px) {

/* BOX1とBOX2を横に並べる設定 */
.boxA:after	{content: "";
	display: block;
	clear: both}

.box1	{float: left;
	width: 50%}

.box2	{float: left;
	width: 50%}

}

